<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_prepare_save">
        <observer name="myObserverName" instance="Alexx\Description\Observer\CustomerSaveActionObserver" />
    </event>
</config>
