<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alexx\Blog\Api\Data\BlogInterface" type="Alexx\Blog\Model\BlogPosts"/>
    <preference for="Alexx\Blog\Api\BlogRepositoryInterface" type="Alexx\Blog\Model\BlogRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_grid_listing_data_source" xsi:type="string">
                    Alexx\Blog\Model\ResourceModel\BlogPosts\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BlogImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">tmp/blog</argument>
            <argument name="basePath" xsi:type="string">blog</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Alexx\Blog\Controller\Adminhtml\Index\ImageUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">BlogImageUploader</argument>
        </arguments>
    </type>
    <type name="Alexx\Blog\Controller\Adminhtml\Index\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">BlogImageUploader</argument>
        </arguments>
    </type>
</config>
